<h3>Events</h3>
<div class="info">
    <div class="row">
        <div class="col">
            <h6>Event Name</h6>
        </div>
        <div class="col">
            <h6>Event Description</h6>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row" *ngFor="let event of events">
        <div class="col">
            <p>{{event.eventName}}</p>
        </div>
        <div class="col">
            <p>{{event.eventDescription}}</p>
        </div>
        <div class="col">
            <a routerLink="" (click)="onClick(event)"><p>Click here to edit</p></a>
        </div>
    </div>
</div>