<div *ngIf="state==='addInfo'" >
    <h2>Add Club Info</h2>
    <div class="form">
        <form (ngSubmit)='onSubmit()'>
            <label for="club-name" class='form-label'>Club Name</label>
            <input type="text" class='form-control mb-3' id='club-name' name='club-name' [(ngModel)]='clubName' placeholder='Add your club name'>
            <label for="club-email" class='form-label'>Club Email</label>
            <input type="email" class='form-control mb-3' id='club-email' name='club-email' [(ngModel)]='clubEmail' placeholder='Add your club email'>
            <label for="club-id" class='form-label'>Club ID</label>
            <input type="number" class='form-control mb-3' id='club-id' name='club-id' [(ngModel)]='clubID' placeholder='Add your club ID'>
            <button type="submit" class='btn btn-primary'>Submit</button>
        </form>
    </div>
</div>

