<h2>Add Club Info</h2>
<div class="form">
    <form>
        <label for="club-name" class='form-label'>Club Name</label>
        <input type="text" class='form-control mb-3' id='club-name' placeholder='Add your club name'>
        <label for="club-email" class='form-label'>Club Email</label>
        <input type="email" class='form-control mb-3' id='club-email' placeholder='Add your club email'>
        <label for="club-id" class='form-label'>Club ID</label>
        <input type="number" class='form-control mb-3' id='club-id' placeholder='Add your club ID'>
        <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
</div>

